h1{
  color: black;
  border: 2px groove black;
}
body{

  background: url("https://media.wired.com/photos/5a970eb4927dc94e67685b0e/master/pass/matterhorn-802950172.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
div{
  border: 2px ridge black;
}
form{
  border: 2px outset black
}
input{
    background-color:transparent;
}
textarea{
  background-color:transparent;

}
select{
  background-color:transparent;

}
